 <div id="login" class="d-flex flex-wrap align-content-between justify-content-center w-100 h-100">
	<div class="d-flex justify-content-between w-100">
		<div class="d-block">
			<div id="food-left-top"></div>
			<div id="food-half-top"></div>
		</div>
		<div id="food-right-top"></div>
	</div>
	<div class="d-flex justify-content-between w-100 align-self-baseline">
		<div id="food-left-bottom"></div>
		<div id="food-right-bottom"></div>
	</div>
	<div class="position-absolute d-flex justify-content-center flex-wrap h-100">
		<div class="d-flex align-self-center flex-wrap margin-15 container-block-by">
			<div class="w-100"><div id="logo" class="mx-auto"  v-bind:style="{ backgroundImage: 'url(' + (isEmpty(store.logo_url)?emptyPhoto:store.logo_url) + ')' }"></div></div>
		</div>
			<label id="slogam" class="w-100 text-center  font-size-1 ">
				<p><b>{{store.nome}}</b></p>
			</label>
			<label id="slogam" class="w-100 text-center font-size-2 bg-white">
				<p class="text-success">Parabéns seu pedido número {{id}} foi enviado com sucesso</p>
			</label>
			<div class="w-100 margin-top-15" >
				<a  :href="'#'+storePath+'/order-detail/'+id" class="text-decoration-none"><button class="big-button-center bg-white border-0 font-size-2 text-center  hover-opacity-75 d-flex justify-content-center  align-items-center">
					<button class="big-button-center bg-primary text-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
						<label >
							Detalhes do pedido
						</label>
					</button>
				</button></a>
			</div>
			<div class="w-100 margin-top-15" >
				<a  :href="'#'+storePath+'/panel'" class="text-decoration-none"><button class="big-button-center bg-white border-0 font-size-2 text-center text-primary hover-opacity-75 d-flex justify-content-center  align-items-center">
					<label ><svg class="button-mini-squared" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/></svg>Voltar</label>
				</button></a>
			</div>
			
	</div>
</div>