<div id="order_items" class="d-flex justify-content-center flex-wrap h-100">
	<div class="d-flex align-self-start flex-wrap margin-15 list container-block-by w-100 h-100 ">
		<div class="w-100 d-flex justify-content-between">
			<button class="bg-transparent border-0" @click="goBack"><label class="font-size-1  "><svg class="button-mini-squared" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/></svg></label></button>	
			<label class="w-100 text-center font-size-1 text-muted">Pedido{{(isLoged())?" de "+getUserName():""}}</label>
		</div>

		
		<div class="w-100 d-flex justify-content-between">
			<label class="w-100 text-center font-size-1 text-muted">Itens do seu pedido</label>
		</div>
		<label id="slogam" class="w-100 text-center text-danger font-size-2 ">
			<p>{{menssageError}}</p>
		</label>
		<div v-for="(item, index) in order" class="w-100 d-flex justify-content-between  margin-top-20 margin-x-15 ">
			<div class="d-flex flex-wrap justify-content-between align-items-end w-100 border-bottom padding-bottom-5 ">
				<div class="d-flex justify-content-between align-items-end w-100 ">
					<label class="font-size-2 m-0  ">
						<b>{{item.amount}}x {{(isEmpty(item.product))?"":item.product.descricao}}</b>
					</label>
					<label class="font-size-3 m-0  ">{{formatMoney(calcPriceItem(item))}}</label>
				</div>
				<div v-if="item.product.pizza==true"  class="d-flex  w-100 ">
					<label class="font-size-4 m-0 ">
						{{(isEmpty(item.size))?"":" TAMANHO:  "+item.size.descricao+" "+formatMoney(item.size.valor_tamanho)}}
						{{(isEmpty(item.flavors))?"":" SABORES: "+getDesriptionFlavorsPizzaAndPrice(item.flavors).join(", ")}}
						{{(isEmpty(item.itemsGroupAdditional))?"":" ADICIONAIS: "+getDesriptionProductAdditionalAndPrice(item.itemsGroupAdditional).join(", ")}}
						{{(isEmpty(item.border))?"":" BORDA: "+item.border.borda.descricao+" "+((item.border.valor_borda>0)?formatMoney(item.border.valor_borda):"")}}
					</label>
				</div>
				<div  class="d-flex  w-100 ">
					<label class="font-size-4 m-0 ">
						{{(isEmpty(item.note))?"":" OBSERVAÇÃO:  "+item.note}}
					</label>
				</div>
			</div>
			<button @click="editItem(item)" class="d-flex rounded-10 margin-left-15 button-mini-squared  hover-opacity-75 justify-content-center align-items-center  font-size-1 ">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" fill="currentColor"><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>
			</button>
		</div>
		<div class="d-flex align-self-end justify-content-center margin-15 w-100 ">
			<button @click="addItem" class="font-size-1 border-0 bg-white text-danger">Incluir mais Itens</button>
		</div>
		<div class="w-100 d-flex justify-content-between  margin-top-20 margin-x-15 ">
			<div class="d-flex justify-content-between align-items-end w-100 border-bottom padding-bottom-5 ">
				<label class="font-size-2 m-0  ">Total</label>
				<label class="font-size-2 m-0  ">{{formatMoney(calcTotal())}}</label>
			</div>
		</div>

		<div class="w-100 d-flex justify-content-center flex-wrap" v-if="isLoged()">
			<div class="w-75 padding-x-15 margin-top-15">
				<label class="font-size-3 w-100  ">Nome</label>
				<input v-model="name" placeholder="Digite seu nome" class="w-100 big-button-center bg-white rounded-10  font-size-3 hover-opacity-75 d-flex justify-content-center  align-items-center" @focusout="setName()">
				<p class="d-none big-hint-center text-danger text-center font-size-3" v-if="!isEmpty(errorName)">{{ errorName }}</p>
			</div>
			<div class="w-25 padding-x-15 margin-top-15">
				<label class="font-size-3 w-100 ">Telefone</label>
				<input id="phone" type="phone" placeholder="(__) _____-____" data-inputmask="'mask': '(99) 99999-9999'" class=" w-100 big-button-center bg-white rounded-10  font-size-3 hover-opacity-75 d-flex justify-content-center  align-items-center " :class="[isEmpty(errorPhone)?'':'border-danger']" @focusout="setPhone()" >
				<p class="d-none big-hint-center tex-center text-danger" v-if="!isEmpty(errorPhone!=null)">{{ errorPhone }}</p>
			</div>
			<div class="w-100 d-flex align-items-stretch">
				<div class="w-75 padding-x-15 margin-top-15">
					<label class="font-size-3 w-100 ">Entregar</label>
					<div class="w-100 h-75 d-flex">
						<label class="switch align-self-center margin-right-5">
							<input id="typeDelivery" type="checkbox"  @click="setTypeDelivery()">
							<span class="slider round"></span>
						</label>
						<a v-if="typeDelivery=='ENTREGAR'" class="text-decoration-none" :href="'#'+storePath+'/select-list-address'" >
							<button class="bg-danger button-square rounded-10 text-white padding-10 hover-opacity-75 ">
								<svg class="button-ultra-small-squared" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 384 512"><path d="M384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192H384z"/></svg>
							</button>
						</a>
						<a v-if="typeDelivery!='ENTREGAR'" class="text-decoration-none">
							<button class="bg-secondary button-square rounded-10 text-white padding-10 hover-opacity-75 ">
								<svg class="button-ultra-small-squared" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 384 512"><path d="M384 192C384 279.4 267 435 215.7 499.2C203.4 514.5 180.6 514.5 168.3 499.2C116.1 435 0 279.4 0 192C0 85.96 85.96 0 192 0C298 0 384 85.96 384 192H384z"/></svg>
							</button>
						</a>
						<label v-if="address!=null" class="font-size-3 w-75 align-self-center margin-x-10">
							
							{{address.logradouro}}, {{address.numero}} {{address.bairro}} {{address.municipio.nome}} - {{address.municipio.uf}}
							{{address.complemento}}
							{{isEmpty(address.cep)?"":"CEP: "+address.cep}}

						</label>
					</div>
				</div>
				<div class="w-25 padding-x-15 margin-top-15">
					<label class="font-size-3 w-100">Precisa de troco</label>
					<div class="w-100 h-75 d-flex align-items-center">
						<input type="number" class="w-100 big-button-center bg-white rounded-10  font-size-3 hover-opacity-75 d-flex justify-content-center  align-items-center " v-model="cashback">
					</div>
				</div>
			</div>
			<label class="font-size-3 w-100 margin-top-15 margin-x-15">Observação</label>
			<textarea id="note" type="note" v-model="note" class=" w-100  bg-white rounded-10  font-size-3 hover-opacity-75 d-flex justify-content-center  align-items-center margin-x-15"  @focusout="setNote()"></textarea>

			
		</div>
		<div  class="d-flex justify-content-between padding-15 w-100 ">
			<button v-if="order!=null && order.length > 0 && isLoged()" @click="confirmOrder()"  class="d-flex rounded-10 hover-opacity-75 d-flex justify-content-center align-items-center bg-danger text-white font-size-1 "><label class="margin-x-15">Enviar Pedido</label></button>
			<button @click="login()" v-if="!isLoged()" class="d-flex rounded-10 hover-opacity-75 d-flex justify-content-center align-items-center bg-primary text-white font-size-1"><label class="">Login para Enviar o pedido</label></button>
			<button  v-if="order!=null && order.length > 0" @click="cancelOrder" class="font-size-1 border-0 bg-white text-danger">Cancelar Pedido</button>
		</div>
		
	</div>
</div>