 <div  class=" w-100 h-100 padding-20" style="background-color:#fdf5ab!important;">
	<div class="w-100 p-0  d-flex ">
		<div id="logo" class=""  v-bind:style="{ backgroundImage: 'url(' + (isEmpty(store.logo_url)?emptyPhoto:store.logo_url) + ')' }"></div>
		<label  class=" p-0  text-center  font-size-1 align-self-end margin-x-10">
			<p class=" p-0 m-0 align-self-end"><b>{{store.nome}}</b></p>
		</label>
	</div>
	
	<label class="w-100  p-0 font-size-2 margin-y-10" v-if="!isEmpty(order)">
		<hr class="w-100">
		<p class="w-100 d-flex justify-content-between">
			<label>
				<b>
					Pedido: 
				</b> 
				{{id}}
			</label>
			<label>
				<b>
					Telefone: 
				</b> 
				{{getPHoneOderFormat()}}
			</label>
			<label>
				&nbsp;
				<b>
					Data: 
				</b> 
				{{getDateOrderFormat()}}
				<b>
					Hora:
				</b>
				{{getHourOrderFormat()}} 
			</label>
		</p>
		<p class="w-100 d-flex justify-content-between">
			<label>
				Tipo de Entrega: <b>{{order.tipo_entrega}}</b> 
			</label>
			<label>
				<b>
					Troco: 
				</b> 
				{{getCashbackOderFormat()}}
			</label>
			<label>
				&nbsp;
				<b>
					Total: 
				</b> 
				{{getTotalOderFormat()}}
			</label>
		</p>
		<p class="w-100 " v-if="order.tipo_entrega=='ENTREGAR'">
			<hr class="w-100">
			<label>
				<b>
					Endereço de Entrega:<br>
				</b>
					&nbsp;
					{{order.endereco}}, 
					{{order.numero}} 
					{{order.bairro}} 
					{{order.municipio.nome}} - {{order.municipio.uf}}
					{{order.complemento}}
			</label>
		</p>
		<hr class="w-100">
		<p class="w-100 d-flex justify-content-between">
			<label>
				<b>
					De: 
				</b> 
					{{order.nome}}
			</label>
		</p>
		<p class="w-100 d-flex justify-content-between">
			<label>
				<b>
					Usuário: 
				</b> 
				{{getUserNameOrder()}}
			</label>
			<label>
				<b>
					E-mail: 
				</b> 
				{{getEmailOrder()}}
			</label>
		</p>
		<hr class="w-100">
		<p class="w-100 d-flex flex-wrap">
			<div class="w-100"  v-for="(item, index) in orderItems">
				<div class="d-flex justify-content-between align-items-end w-100 ">
					<label class="font-size-2 m-0  ">
						<b>{{item.quantidade}}x {{(isEmpty(item.produto))?"":item.produto.descricao}}</b>
					</label>
					<label class="font-size-3 m-0  ">{{formatMoney(item.valor_total_item)}}</label>
				</div>
				<div v-if="item.produto.pizza==true"  class="d-flex  w-100 ">
					<label class="font-size-4 m-0 ">
						{{(isEmpty(item.tamanho))?"":"TAMANHO:  "+item.tamanho.descricao+" "+formatMoney(item.tamanho.valor_tamanho)}}
						{{(arrayAllElementsIsEmpy(orderItemsFlavors))?"":" SABORES: "+getDesriptionFlavorsPizzaAndPrice(index).join(", ")}}
						{{(arrayAllElementsIsEmpy(orderItemsProductAdditional))?"":" ADICIONAIS: "+getDesriptionProductAdditionalAndPrice(index).join(", ")}}
						{{(isEmpty(item.bordatamanho))?"":" BORDA: "+desciptionBorderById(item.bordatamanho.borda)+" "+((item.bordatamanho.valor_borda>0)?formatMoney(item.bordatamanho.valor_borda):"")}}
					</label>
				</div>
				<div  class="d-flex  w-100 ">
					<label class="font-size-4 m-0 ">
						{{(isEmpty(item.observacao))?"":" OBSERVAÇÃO:  "+item.observacao}}
					</label>
				</div>

			</div>










		</p>
		<hr class="w-100">
		<p class="w-100 d-flex justify-content-between">
			<label>
				<b>
					Observação:
				</b> 
				{{order.observacao}}
			</label>
		</p>
	</label>
</div>