<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="http://localhost/boracomer/css/bootstrap5.1.1/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
		<link href="http://localhost/boracomer/css/bootstrap5.1.1/all.css" rel="stylesheet">
		<title>Bora Comer</title>
	</head>

	<body >
		<div id="divHeader"></div>
		<div id="divMain"></div>
		<div id="divFooter"></div>
		<script src="http://localhost/boracomer/js/jquery-3.4.1.min.js"></script>
		<script src="http://localhost/boracomer/js/bootstrap5.1.1/popper.min.js"></script>
		<script src="http://localhost/boracomer/js/bootstrap5.1.1/bootstrap.bundle.min.js"></script>
		<script src="http://localhost/boracomer/js/axios.min.js"></script>
		<script src="http://localhost/boracomer/js/vue@2.js"></script>		
		<script type="text/javascript" src="http://localhost/boracomer/js/script.js"></script>
	</body>
</html>