<div id="login" class="d-flex flex-wrap align-content-between justify-content-center w-100 h-100">
	<div class="d-flex justify-content-between w-100">
		<div class="d-block">
			<div id="food-left-top"></div>
			<div id="food-half-top"></div>
		</div>
		<div id="food-right-top"></div>
	</div>
	<div class="d-flex justify-content-between w-100 align-self-baseline">
		<div id="food-left-bottom"></div>
		<div id="food-right-bottom"></div>
	</div>
	<div class="position-absolute d-flex justify-content-center flex-wrap h-100">
		<div class="d-flex align-self-center flex-wrap margin-15 container-block-by">
			<div class="w-100"><div id="logo" class="mx-auto"  :style="{ backgroundImage: 'url(' + (isEmpty(store.logo_url)?emptyPhoto:store.logo_url) + ')' }"></div></div>
		</div>
			<label id="slogam" class="w-100 text-center  font-size-1 ">
				<p><b>Troca de senha</b></p>
			</label>
			<div class="w-100 margin-top-15" >
				<input v-model="currentPassword" type="password" placeholder="Digite sua atual" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center" @focusout="disableFocusPassword" @focusin="enableFocusPassword" @keyup="validPassword" >
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="password" type="password" placeholder="Digite sua senha" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center" @focusout="disableFocusPassword" @focusin="enableFocusPassword" @keyup="validPassword" >
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="repeatPassword" type="password" placeholder="Repita sua senha" class="text-center big-button-center bg-white rounded-10 font-size-2 hover-opacity-75 d-flex justify-content-center align-items-center" @focusout="disableFocusPassword" @focusin="enableFocusPassword" @keyup="validPassword">
			</div>
			<div class="font-size-3 big-hint-center d-flex flex-wrap bg-white position-relative" id="hintPassword" v-if="focusPassword">
				<p class="w-100 text-dark" >
					{{ messageHintPassword }}
				</p>
				<ul style=" list-style-type: none;">
				<li  :class="[checkLowerCaseOneOrMore ? 'text-success valid' : ' text-danger invalid']">
					{{ messageCheckLowerCaseOneOrMore }}
				</li>
				<li  :class="[checkUpperCaseOneOrMore ? 'text-success valid' : ' text-danger invalid']">
					{{ messageCheckUpperCaseOneOrMore }}
				</li>
				<li  :class="[checkNumberOneOrMore ? 'text-success valid' : ' text-danger invalid']">
					{{ messageCheckNumberOneOrMore }}
				</li>
				<li :class="[checkSizeDigits ? 'text-success valid' : ' text-danger invalid']">
					{{ messageCheckSizeDigits }}
				</li>
				<li :class="[checkRepeatPassword ? 'text-success valid' : ' text-danger invalid']">
					{{ messageCheckRepeatPassword }}
				</li>
				</ul>
			</div>
			<div class="w-100 margin-top-15" >
				<button class="big-button-center bg-primary text-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center" @click="changePassword">
					<label class="d-flex align-self-center">Trocar senha</label>
				</button>
			</div>
			
			<div class="w-100 margin-top-15" >
				<button class="big-button-center bg-white border-0 font-size-2 text-center text-primary hover-opacity-75 d-flex justify-content-center  align-items-center" @click="goBack()" >
					<label ><svg class="button-mini-squared" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/></svg>Voltar</label>
				</button>
			</div>
	</div>
</div>