<div id="login" class="d-flex flex-wrap align-content-between justify-content-center w-100 h-100">
	<div class="d-flex justify-content-between w-100">
		<div class="d-block">
			<div id="food-left-top"></div>
			<div id="food-half-top"></div>
		</div>
		<div id="food-right-top"></div>
	</div>
	<div class="d-flex justify-content-between w-100 align-self-baseline">
		<div id="food-left-bottom"></div>
		<div id="food-right-bottom"></div>
	</div>

	<div class="position-absolute d-flex justify-content-center flex-wrap ">
			<label id="slogam" class="w-100 text-center  font-size-1 ">
				<p><b>Atualizar Endereço</b></p>
			</label>
			<div class="w-100 margin-top-15">
				<input id="zipCode" name="zipCode" v-model="zipCode" @focusout="setZipCode()" class="d-flex justify-content-center align-items-center text-center big-button-center bg-white rounded-10 font-size-2 hover-opacity-75" placeholder="Digite seu CEP" data-inputmask="'mask': '99999-999'" :class="[(isEmpty(errorZipCode))?null:'border-danger']">
			</div>
			<div class="w-100 margin-top-15" >
				<select v-model="city" name="city"  class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
					<option disabled value="" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">Selecione sua Cidade*</option>
					<option  v-for="(item) in cities"  :value="item" :key="item.id">{{item.nome}} - {{item.uf}}</option>
				</select>
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="district" name="district" placeholder="Digite sua Bairro *" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="street" name="rua" placeholder="Digite sua Rua *" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="houseNumber" name="houseNumber" type="number" placeholder="Digite o Número da Casa*" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>
			<div class="w-100 margin-top-15" >
				<input v-model="addressComplement" name="complemento" type="text" placeholder="Digite o complemento" class=" text-center big-button-center bg-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center">
			</div>

			<div class="w-100 margin-top-15" >
				<button class="big-button-center bg-primary text-white rounded-10  font-size-2 hover-opacity-75 d-flex justify-content-center  align-items-center" @click="updateAddress">
					<label class="d-flex align-self-center">Salvar</label>
				</button>
			</div>
			<div class="w-100 " >
				<div class="big-button-center bg-white border-0 font-size-2 text-center text-muted d-flex justify-content-center  align-items-center">
					<label class="">* Campos Obrigatórios</label>
				</div>
			</div>
			<div class="w-100 margin-top-15" >
				<button class="big-button-center bg-white border-0 font-size-2 text-center text-primary hover-opacity-75 d-flex justify-content-center  align-items-center" @click="goBack()">
					<label ><svg class="button-mini-squared" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor"><path d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"/></svg>
						Voltar
					</label>
				</button>
			</div>
	</div>
</div>
